#1 Basic Usage

@(Html.Kendo().Grid((IEnumerable<KendoUIBasicGrid.Models.ProductViewModel>)ViewBag.Products) //Bind the grid to ViewBag.Products
      .Name("grid")
      .Columns(columns =>
      {
          // Create a column bound to the ProductID property
          columns.Bound(product => product.ProductID);
          // Create a column bound to the ProductName property
          columns.Bound(product => product.ProductName);
          // Create a column bound to the UnitsInStock property
          columns.Bound(product => product.UnitsInStock);
      })
      .Pageable() // Enable paging
      .Sortable() // Enable sorting
)

#2 Editable (InLine)

@(Html.Kendo().Grid((IEnumerable<KendoUIBasicGrid.Models.ProductViewModel>)ViewBag.Products)
    .Name("grid1")
    .Columns(columns =>
    {
        columns.Bound(product => product.ProductName);
        columns.Command(command => command.Destroy());
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
        .Ajax() // or .Server()
        .Model(model => model.Id(product => product.ProductID))
        .Destroy(destroy => destroy.Action(/* action */"Products_Destroy", /* controller */ "Home"))
        .Read(read => read.Action("Products_Read", "Home"))
    )
)

#3 Detailed template using Divs:

@(Html.Kendo().Grid((IEnumerable<KendoUIBasicGrid.Models.ProductViewModel>)ViewBag.Products)
      .Name("grid3")
      .Columns(columns =>
      {
          columns.Bound(product => product.ProductID);
          columns.Bound(product => product.ProductName);
      })
      .Pageable()
      .DetailTemplate(@<text>
        <div>Product Details:</div>
        <div>ProductID: @item.ProductID</div>
        <div>ProductName: @item.ProductName</div>
        <div>UnitsInStock: @item.UnitsInStock</div>
        <div>UnitPrice: @item.UnitPrice</div>
        <div>UnitsOnOrder: @item.UnitsOnOrder</div>
        <div>Discontinued: @item.Discontinued</div>
    </text>)
)

